/* General CSS */

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

.tox-promotion {
  display: none;
}

body, button, input, textarea {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: #FFFFFF;
  --gray: #F2F2F2;
  --black: #000000;
  --border: #00000010;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error-box {
  box-sizing: border-box;
  background-color: #cf000f;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}


/* Loading and Error */

.loadingMain, .noContentMain, .errorMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto 0;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.no-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.loading-icon-box {
  background-color: var(--gray);
  padding: 14px;
  border-radius: 5px;
}

#loading-icon {
  filter: brightness(0) saturate(100%);
  width: 48px;
}



/* Header */
header {
  position: sticky;
  top: 0px;
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

header > div {
  display: flex;
  align-items: center;
}

.header-box {
  display: flex;
  justify-content: space-between;
  margin: 0 14px;
  width: 100%;
  height: 65px;
}

.header-top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-box a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;
}

.logo-box a h1 {
  padding-bottom: 6px;
  font-weight: 700;
}

.logo-box a:hover {
  color: gray;
}

.auth-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  height: 100%;
}

.auth-box a:hover {
  color: gray;
}

.auth-box a button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--black);
}

.sign-up-button {
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  white-space:nowrap
}

.login-button {
  background-color: var(--white);
  border-radius: 5px;
  white-space:nowrap
}

.user-name {
  font-weight: 500;
  white-space: nowrap;
}

.logout-button {
  background-color: var(--white);
  border-radius: 5px;
  white-space: nowrap;
}

#menuBtn {
  display: none;
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  border: 0;
}

.mobile-auth-box {
  display: none;
}

@media (max-width: 420px) {
  #menuBtn {
    display: block;
    background-color: white;
  }

  .auth-box {
    display: none;
  }

  header {
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    height: fit-content;
  }

  .header-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
  }

  .header-top-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 65px;
    padding: 0 14px;
  }

  .mobile-login-button, .mobile-sign-up-button, .mobile-logout-button {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    height: 100%;
    padding: 0 14px;
  }

  .mobile-sign-up-button, .mobile-logout-button {
    margin-top: -2px;
  }


  .mobile-auth-box {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .mobile-auth-box a, .mobile-auth-box .mobile-user-name-container {
    all: unset;
    background-color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    border: 1px solid var(--black);
  }

  .mobile-user-name-container p {
    padding: 0 14px;
  }


  .dispNone {
    display: none !important;
  }

  .dispFlex {
    display: flex !important;
  }
  

}

@media (min-width: 600px) {
  .header-box {
    box-sizing: border-box;
    width: clamp(550px, 90vw, 768px);
    margin: 0 auto;
  }
}

@media (min-width: 916px) {
  .header-box {
    box-sizing: border-box;
    margin: 0 auto;
    width: 768px;
  }
}

/* Login and SignUp */
.text-input {
  height: 48px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
}

.file-input {
  width: 250px;
}

.loginMain, .signUpMain {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  height: 100%;
}

.login-box, .signup-box {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  min-width: calc(320px - 28px);
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid black;
  margin: 0 14px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
}

.login-box {
  min-width: clamp(292px, 90vw, 400px);
}

.login-form, .signup-form {
  box-sizing: border-box;
}

.login-form button, .signup-form button {
  font-weight: 600;
  border-radius: 8px;
  padding: 4px 16px;
  height: 48px;
  border: 1px solid black;
  font-size: 16px;
}

.login-title-box, .signup-title-box {
  box-sizing: border-box;
  padding: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: black;
}

.login-title-box, .signup-title-box {
  color: white;
}

.login-box form, .signup-box form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px;
}

.signup-name-box {
  display: flex;
  width: 100%;
  gap: 10px;
}

.signup-name-box input {
  width: 100%
}

.error-box {
  box-sizing: border-box;
  background-color: #cf000f;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.signup-avatar-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 700;
  color: black;
  background-color: white;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.signup-avatar-span {
  padding: 0 8px;
}

#avatar {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#upload-icon {
  height: 24px;
}


@media (min-width: 600px) {
  .login-box {
    margin: 0 auto;
  }

  .signup-box {
    margin: 0 auto;
  }
}


@media (min-width: 916px) {
  .login-box {
    margin: 0 auto;
    width: 400px;
  }

  .signup-box {
    margin: 0 auto;
    width: 500px;
  }
}

/* SignUpSuccess */

.signUpSuccess {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  height: 100%;
}


.signUpSuccess-box {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  min-width: calc(320px - 28px);
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid black;
  margin: 0 14px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
}

.success-title-box {
  box-sizing: border-box;
  padding: 24px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: black;
  color: white;
}

.signUpSuccess-box p {
  padding: 48px 24px;
}

/* Home and PostCard */
.homeMain {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 16px 0;
}

.posts-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--white);
  margin: 32px 14px;
}

.posts-title {
  margin: 8px 0;
}

.post-hr, .comment-hr {
  height: 0;
  border-top: 1px solid #eee;
  width: calc(100% - 2px);
}

.postCard {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
}

.postCard .info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postCard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.post-box-right {
  display: flex;
  justify-content: flex-end;
}

.post-box-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.post-comments-count {
  margin-top: auto;
  font-weight: 500;
}

.photo-thumbnail {
  display: none;
}

.author-avatar-card {
  height: 24px;
  width: 24px;
  border-radius: 100px;
}

.post-card-buttons {
  display: flex;
  gap: 10px;
}

.post-published-true {
  color: green;
}

.post-published-false {
  color: red;
}

.post-create-box {
  display: flex;
  justify-content: center;
  
}

.post-create-box a {
  width: fit-content;
  text-decoration: none;
}

#newPostBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--black);
  background-color: black;
  color: white;
  border-radius: 12px;
}

#add-icon {
  filter: invert(98%) sepia(4%) saturate(172%) hue-rotate(193deg) brightness(115%) contrast(100%);
  width: 30px;
}

.post-modification-buttons {
  display: flex;
  gap: 10px;
}


.post-modification-anchor {
  color: black;
  text-decoration: none;
}

.post-modification-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: white;
  border: 1px solid var(--black);
  border-radius: 5px;
  width: fit-content;
}

.icon {
  height: 24px;
}

@media (min-width: 600px) {

  .heroScreen {
    margin: 0 auto;
    width: clamp(550px, 90vw, 768px);
  }

  .photo-thumbnail {
    display: inline-block;
    object-fit: cover;
    width: 192px;
    height: 100%;
  }

  .posts-box {
    box-sizing: border-box;
    margin: 32px 0;
    margin: 0 auto;
    width: clamp(550px, 90vw, 768px);
  }

  .postCard-container {
    flex-direction: row;
    gap: 32px;
  }
}

@media (min-width: 916px) {

  .heroScreen {
    margin: 0 auto;
    width: 768px;
  }

  .posts-box {
    box-sizing: border-box;
    margin: 32px auto;
    width: 768px;
  }

  .photo-thumbnail {
    display: inline-block;
    object-fit: fill;
    width: 256px;
    height: auto;
  }

  .postCard-container {
    flex-direction: row;
    gap: 32px;
  }
}


/* CreatePost and UpdatePost */
.editorMain {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0;
  height: 100%;
}

.editor-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  margin: 0 14px;
  border: solid 2px black;
  border-radius: 5px;
}

.editor-photo-box, .published-box, .editor-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

#published {
  transform: scale(1.2);
}

.editor-photo-box input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.editor-photo-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 700;
  color: black;
  background-color: white;
  padding: 8px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.editor-photo-span {
  padding: 0 8px;
}

.editor-photo-box:focus label,
.editor-photo-box label:hover {
  background-color: lightgray;
}

.editor-photo-box:focus label {
  outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

#upload-icon {
  height: 24px;
}

.editor-submit-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor-btn-submit {
  font-weight: 500;
  white-space: nowrap;
  padding: 12px 24px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid black;
  background-color: black;
  color: white;
  cursor:pointer;
}

.editor-error-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0;
}

.editor-bottom-area {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  box-sizing: border-box;
  gap: 8px;
}

.editor-photo-box {
  box-sizing: border-box;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
}

.published-box {
  box-sizing: border-box;
  grid-area: 1 / 2 / 2 / 3;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.editor-author {
  box-sizing: border-box;
  grid-area: 1 / 3 / 2 / 4;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.editor-submit-box {
  box-sizing: border-box;
  grid-area: 2 / 3 / 3 / 4;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 500px) {
  .editor-bottom-area {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    box-sizing: border-box;
    gap: 8px;
  }

  .editor-photo-box {
    box-sizing: border-box;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .published-box {
    box-sizing: border-box;
    grid-area: 1 / 2 / 2 / 3;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .editor-author {
    box-sizing: border-box;
    grid-area: 2 / 1 / 3 / 2;
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: start;
  }

  .editor-submit-box {
    box-sizing: border-box;
    grid-area: 2 / 2 / 3 / 3;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .editor-btn-submit {
    padding: 12px 16px;
  }
}

@media (min-width: 600px) {
  .editor-box {
    margin: 0 auto;
    box-sizing: border-box;
    width: clamp(550px, 90vw, 768px);
  }
}

@media (min-width: 916px) {
  .editor-box {
    margin: 0 auto;
    box-sizing: border-box;
    width: 768px;
  }
}

/* DeletePost and PostCardDel */
.deletePost {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 16px 0;
}

.delete-post-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.postCardDel {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.4);
}

.postCardDel .del-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postCardDel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.del-post-box-right {
  display: flex;
  justify-content: flex-end;
}

.del-post-box-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.del-post-comments-count {
  margin-top: auto;
  font-weight: 500;
}

.del-photo-thumbnail {
  display: none;
}

.del-author-avatar-card {
  height: 24px;
  width: 24px;
  border-radius: 100px;
}

.delete-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delete-form-div {
  display: flex;
  gap: 16px;
}

.delete-input {
  width: calc(140px + 20%);
  height: 32px;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 16px;
  text-decoration: none;
  box-sizing: border-box;
}


.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: black;
  color: white;
  border: 1px solid var(--black);
  border-radius: 5px;
  width: fit-content;
}

@media (min-width: 600px) {
  .delete-post-box {
    width: clamp(550px, 90vw, 768px);
    margin: 0 auto;
  }

  .del-photo-thumbnail {
    display: inline-block;
    object-fit: cover;
    width: 192px;
    height: 100%;
  }

  .postCardDel-container {
    flex-direction: row;
    gap: 32px;
  }
}

@media (min-width: 916px) {
  .delete-post-box {
    width: 768px;
    margin: 0 auto;
  }

  .del-photo-thumbnail {
    display: inline-block;
    object-fit: fill;
    width: 256px;
    height: auto;
  }

  .postCardDel-container {
    flex-direction: row;
    gap: 32px;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  padding: 8px 0;
  border-top: 1px solid var(--border);
}
